body{
	margin: 0;
/*	background-color: rgba(188, 19, 57, 1);*/
background-color: rgba(0, 102, 255, 0.3);
}
*{
	box-sizing: border-box;
}
.card1 {
	perspective: 1000px;
	transform-style: preserve-3d;
	
}
.card-item {
	/*width: 250px;
	height: 250px;*/
/*	background-color: #fff;*/
	transition: transform 0.2s;
}

.card-1{
	
}
.card-2{
	width: auto;
	height: auto;
	background-color: #fff;
}
.card-3{
	
}
.navbar{
	background: rgb(219,68,55);background: -moz-linear-gradient(90deg, rgba(219,68,55,1) 0%, rgba(244,180,0,1) 50%, rgba(66,133,244,1) 100%);background: -webkit-linear-gradient(90deg, rgba(219,68,55,1) 0%, rgba(244,180,0,1) 50%, rgba(66,133,244,1) 100%);background: linear-gradient(90deg, rgba(219,68,55,1) 0%, rgba(244,180,0,1) 50%, rgba(66,133,244,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#db4437",endColorstr="#4285f4",GradientType=1);
}

